@value colors: '@/app/colors.css';
@value blackColor from colors;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.logo {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .code {
    color: blackColor;
  }
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blackColor;
}
