@value colors: '@/app/colors.css';
@value whiteColor from colors;

.drawing-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: whiteColor;
}